<!-- <div class="btn-group btn-group-toggle" data-toggle="buttons"> -->
    <div>
    <button style="display: inline; margin: 5px;" class="btn btn-primary btn-sm" [ngClass]="{'active' : isOrderPlacer}" type="button" (click)="orderPlacer()">Order Placer</button>
    <button style="display: inline; margin: 5px;" class="btn btn-primary btn-sm" [ngClass]="{'active' : isExpId}" type="button" (click)="expId()">Rating Forecaster</button>
    <ng-template style="display: inline; margin: 5px;" [ngIf]="isOrderPlacer">
    <input class="form-inline form-control-sm col-sm-1"  style="display: inline; margin: 5px;" type="text" placeholder="Search">
    </ng-template>
    <!-- <label class="btn btn-primary" style="margin: 5px">
      <input type="radio" name="options" id="option1" autocomplete="off" checked=""> Order Placer
    </label>
    <label class="btn btn-primary active" style="margin: 5px">
      <input type="radio" name="options" id="option2" autocomplete="off"> Exep Id
    </label> -->
  </div>
  <ng-template [ngIf]="isOrderPlacer">
<form>
    <div class="form-group ">
      <label class="inline" style="margin: 10px;">Email address</label>
      <!-- <input type="email" class="form-control form-control-sm col-sm-1" id="exampleInputEmail1" aria-describedby="emailHelp">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div> -->

      <label class="inline"style="margin: 10px;">Password</label>
      <!-- <input type="password" class="form-control form-control-sm col-sm-1" id="exampleInputPassword1"> -->
    </div>
  </form>
</ng-template>

<ng-template [ngIf]="isExpId">
    <form>
        <div class="form-group ">
          <label class="inline" style="margin: 10px;">Email address1</label>
          <!-- <input type="email" class="form-control form-control-sm col-sm-1" id="exampleInputEmail1" aria-describedby="emailHelp">
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div> -->
    
          <label class="inline"style="margin: 10px;">Password2</label>
          <!-- <input type="password" class="form-control form-control-sm col-sm-1" id="exampleInputPassword1"> -->
        </div>
      </form>
    </ng-template>

<div>
<button style="display: inline; margin: 10px;" class="btn btn-success btn-sm" type="button" (click)="Search()">Search</button>
<button style="display: inline;" class="btn btn-danger btn-sm" type="button" (click)="Clear()">Clear</button>
</div>
<ag-grid-angular
    style="width: 100%; height: 200px;"
    class="ag-theme-balham-dark"
    [rowData]="rowData"
    [columnDefs]="columnDefs"
    [enableSorting]="true"
    [enableFilter]="true"
    rowSelection="single"
    (cellClicked)="onCellClicked($event)"
    [floatingFilter]="true"
    (cellDoubleClicked)="onCellDoubleClicked($event)"
    >
</ag-grid-angular>
<!-- <div>
<form [formGroup]="form">
    <input name="make" formControlName="make" [(ngModel)]="example.make"/>
    <input name="modal" formControlName="modal" [(ngModel)]="example.modal"/>
    <input name="price" formControlName="price" [(ngModel)]="example.price"/>
  </form>
  </div> -->
<div>
    <p>Selected Row Details</p>
  {{ example | json }}
</div>