<p>grid works!</p>
<button (click)="getSelectedRows()">Get Selected Rows</button>
<ag-grid-angular
    style="width: 500px; height: 500px;"
    class="ag-theme-balham"
    [rowData]="rowData | async"
    [columnDefs]="columnDefs"
    [enableSorting]="true"
    [enableFilter]="true"
    (gridReady)="onGridReadyEvent($event)"
    rowSelection="single"
    >
</ag-grid-angular>
